@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #666666;
}

.margin-content {
    @apply mt-[60px];
}

.header-change {
    @apply shadow-md shadow-red-600/50 bg-black;
}
